**JSON (JavaScript Object Notation) is lightweight format for storing and transporting data.**

**JSON used to create objects to send data between an application or an Applications Program Interface (API).**

----

### Read JSON from URL use pandas.read_json()

In [1]:
import pandas as pd

In [2]:
#https://github.com/mathawanup/master_dataset/blob/master/NineTemples.json
url = 'https://github.com/mathawanup/master_dataset/raw/master/NineTemples.json'
df = pd.read_json(url)
df

,belief,lat,lon,watEn,watTh
0,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี,13.739810,100.489057,Wat Kalayanamitr,วัดกัลยาณมิตรวรมหาวิหาร
1,มีชัยชนะต่ออุปสรรคทั้งปวง,13.760404,100.493371,Wat Chana Songkhram,วัดชนะสงครามราชวรมหาวิหาร
2,ร่มเย็นเป็นสุข,13.746527,100.491105,Wat Phra Chetuphon,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร
3,เพื่อจิตใจสะอาด ดุจรัตนตรัย,13.751502,100.490475,Temple of the Emerald Buddha,วัดพระศรีรัตนศาสดาราม
4,ชื่อเสียงโด่งดัง คนนิยมชมชอบ,13.752310,100.483130,Wat Rakhang Khositaram,วัดระฆังโฆสิตารามวรมหาวิหาร
5,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป,13.750034,100.498670,Wat Suthat Thepwararam,วัดสุทัศนเทพวรารามราชวรมหาวิหาร
6,ชีวิตรุ่งโรจน์ทุกคืนวัน,13.743691,100.486733,Wat Arun,วัดอรุณราชวรารามราชวรมหาวิหาร
7,พบแต่สิ่งดีงามในชีวิต,13.759537,100.497773,Wat Bavorn Niwet,วัดบวรนิเวศวิหาร
8,เสริมสร้างความคิดอันเป็นสิริมงคล,13.753805,100.504475,Wat Sa Ket,วัดสระเกศราชวรมหาวิหาร

In [3]:
df.columns

Index(['belief', 'lat', 'lon', 'watEn', 'watTh'], dtype='object')

In [4]:
df = df[['watTh', 'watEn', 'lat', 'lon', 'belief']]
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from URL use OrderedDict

In [5]:
from collections import OrderedDict
import json
import requests

In [6]:
url = 'https://github.com/mathawanup/master_dataset/raw/master/NineTemples.json'
r = requests.get(url)
r.text

'[{"watTh":"วัดกัลยาณมิตรวรมหาวิหาร","watEn":"Wat Kalayanamitr","lat":13.7398104,"lon":100.4890565,"belief":"เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี"},\n {"watTh":"วัดชนะสงครามราชวรมหาวิหาร","watEn":"Wat Chana Songkhram","lat":13.760404,"lon":100.4933709,"belief":"มีชัยชนะต่ออุปสรรคทั้งปวง"},\n {"watTh":"วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร","watEn":"Wat Phra Chetuphon","lat":13.7465275,"lon":100.4911048,"belief":"ร่มเย็นเป็นสุข"},\n {"watTh":"วัดพระศรีรัตนศาสดาราม","watEn":"Temple of the Emerald Buddha","lat":13.7515019,"lon":100.4904745,"belief":"เพื่อจิตใจสะอาด ดุจรัตนตรัย"},\n {"watTh":"วัดระฆังโฆสิตารามวรมหาวิหาร","watEn":"Wat Rakhang Khositaram","lat":13.7523101,"lon":100.4831296,"belief":"ชื่อเสียงโด่งดัง คนนิยมชมชอบ"},\n {"watTh":"วัดสุทัศนเทพวรารามราชวรมหาวิหาร","watEn":"Wat Suthat Thepwararam","lat":13.7500342,"lon":100.4986696,"belief":"วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป"},\n {"watTh":"วัดอรุณราชวรารามราชวรมหาวิหาร","watEn":"Wat Arun","lat":13.7436906,"lon":100.4867328,"belief":"ชีวิตรุ่งโรจน์ทุกคืนวัน"},\n {"watTh":"วัดบวรนิเวศวิหาร","watEn":"Wat Bavorn Niwet","lat":13.7595372,"lon":100.4977729,"belief":"พบแต่สิ่งดีงามในชีวิต"},\n {"watTh":"วัดสระเกศราชวรมหาวิหาร","watEn":"Wat Sa Ket","lat":13.7538052,"lon":100.5044746,"belief":"เสริมสร้างความคิดอันเป็นสิริมงคล"}\n]\n'

In [7]:
j = json.loads(r.text, object_pairs_hook=OrderedDict)
print(json.dumps(j, indent=2, sort_keys=False))

[
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e01\u0e31\u0e25\u0e22\u0e32\u0e13\u0e21\u0e34\u0e15\u0e23\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Kalayanamitr",
    "lat": 13.7398104,
    "lon": 100.4890565,
    "belief": "\u0e40\u0e14\u0e34\u0e19\u0e17\u0e32\u0e07\u0e1b\u0e25\u0e2d\u0e14\u0e20\u0e31\u0e22\u0e14\u0e35 \u0e21\u0e35\u0e21\u0e34\u0e15\u0e23\u0e44\u0e21\u0e15\u0e23\u0e35\u0e17\u0e35\u0e48\u0e14\u0e35"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e0a\u0e19\u0e30\u0e2a\u0e07\u0e04\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Chana Songkhram",
    "lat": 13.760404,
    "lon": 100.4933709,
    "belief": "\u0e21\u0e35\u0e0a\u0e31\u0e22\u0e0a\u0e19\u0e30\u0e15\u0e48\u0e2d\u0e2d\u0e38\u0e1b\u0e2a\u0e23\u0e23\u0e04\u0e17\u0e31\u0e49\u0e07\u0e1b\u0e27\u0e07"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e40\u0e0a\u0e15\u0e38\u0e1e\u0e19\u0e27\u0e34\u0e21\u0e25\u0e21\u0e31\u0e07\u0e04\u0e25\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Phra Chetuphon",
    "lat": 13.7465275,
    "lon": 100.4911048,
    "belief": "\u0e23\u0e48\u0e21\u0e40\u0e22\u0e47\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e38\u0e02"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e28\u0e23\u0e35\u0e23\u0e31\u0e15\u0e19\u0e28\u0e32\u0e2a\u0e14\u0e32\u0e23\u0e32\u0e21",
    "watEn": "Temple of the Emerald Buddha",
    "lat": 13.7515019,
    "lon": 100.4904745,
    "belief": "\u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e08\u0e34\u0e15\u0e43\u0e08\u0e2a\u0e30\u0e2d\u0e32\u0e14 \u0e14\u0e38\u0e08\u0e23\u0e31\u0e15\u0e19\u0e15\u0e23\u0e31\u0e22"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e23\u0e30\u0e06\u0e31\u0e07\u0e42\u0e06\u0e2a\u0e34\u0e15\u0e32\u0e23\u0e32\u0e21\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Rakhang Khositaram",
    "lat": 13.7523101,
    "lon": 100.4831296,
    "belief": "\u0e0a\u0e37\u0e48\u0e2d\u0e40\u0e2a\u0e35\u0e22\u0e07\u0e42\u0e14\u0e48\u0e07\u0e14\u0e31\u0e07 \u0e04\u0e19\u0e19\u0e34\u0e22\u0e21\u0e0a\u0e21\u0e0a\u0e2d\u0e1a"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e38\u0e17\u0e31\u0e28\u0e19\u0e40\u0e17\u0e1e\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Suthat Thepwararam",
    "lat": 13.7500342,
    "lon": 100.4986696,
    "belief": "\u0e27\u0e34\u0e2a\u0e31\u0e22\u0e17\u0e31\u0e28\u0e19\u0e4c\u0e01\u0e27\u0e49\u0e32\u0e07\u0e44\u0e01\u0e25 \u0e21\u0e35\u0e40\u0e2a\u0e19\u0e48\u0e2b\u0e4c\u0e41\u0e01\u0e48\u0e04\u0e19\u0e17\u0e31\u0e48\u0e27\u0e44\u0e1b"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2d\u0e23\u0e38\u0e13\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Arun",
    "lat": 13.7436906,
    "lon": 100.4867328,
    "belief": "\u0e0a\u0e35\u0e27\u0e34\u0e15\u0e23\u0e38\u0e48\u0e07\u0e42\u0e23\u0e08\u0e19\u0e4c\u0e17\u0e38\u0e01\u0e04\u0e37\u0e19\u0e27\u0e31\u0e19"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1a\u0e27\u0e23\u0e19\u0e34\u0e40\u0e27\u0e28\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Bavorn Niwet",
    "lat": 13.7595372,
    "lon": 100.4977729,
    "belief": "\u0e1e\u0e1a\u0e41\u0e15\u0e48\u0e2a\u0e34\u0e48\u0e07\u0e14\u0e35\u0e07\u0e32\u0e21\u0e43\u0e19\u0e0a\u0e35\u0e27\u0e34\u0e15"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e23\u0e30\u0e40\u0e01\u0e28\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Sa Ket",
    "lat": 13.7538052,
    "lon": 100.5044746,
    "belief": "\u0e40\u0e2a\u0e23\u0e34\u0e21\u0e2a\u0e23\u0e49\u0e32\u0e07\u0e04\u0e27\u0e32\u0e21\u0e04\u0e34\u0e14\u0e2d\u0e31\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e34\u0e23\u0e34\u0e21\u0e07\u0e04\u0e25"
  }
]

In [8]:
df = pd.DataFrame(j)
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from REST API (Applications Program Interface )

In [9]:
# COVID-19 API  
# https://corona.lmao.ninja/docs/

In [10]:
import pandas as pd
import numpy as np
import requests

### Get global COVID-19 totals

In [11]:
url='https://disease.sh/v3/covid-19/all'
r=requests.get(url)
j=r.json()

In [12]:
type(j)

dict

In [13]:
j['cases']

68017832

In [14]:
j['todayCases']

84036

In [15]:
j['updated'] #Unix Timestamp  13 หลัก

1607423907905

In [16]:
type(j['updated'])# 13 หลัก

int

In [17]:
#https://www.epochconverter.com/

In [18]:
j['updated'] // 1000

1607423907

In [19]:
pd.datetime.fromtimestamp(j['updated'] // 1000).strftime('%Y-%m-%d %H:%M:%S') #เอาออก 3 หลัก

'2020-12-08 17:38:27'

### Get COVID-19 totals for country

In [20]:
url='https://disease.sh/v3/covid-19/countries'
r=requests.get(url)
j=r.json()

In [21]:
df=pd.DataFrame(j)
df

,active,activePerOneMillion,cases,casesPerOneMillion,continent,country,countryInfo,critical,criticalPerOneMillion,deaths,...,oneTestPerPeople,population,recovered,recoveredPerOneMillion,tests,testsPerOneMillion,todayCases,todayDeaths,todayRecovered,updated
0,8422,214.27,48363,1230,Asia,Afghanistan,"{'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat':...",93,2.37,1908,...,243,39304797,38033,967.64,161815,4117,227,6,49,1607423908204
1,20581,7155.08,43683,15187,Europe,Albania,"{'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat':...",35,12.17,922,...,14,2876418,22180,7710.98,201572,70077,0,0,0,1607423908205
2,28650,648.30,88825,2010,Africa,Algeria,"{'_id': 12, 'iso2': 'DZ', 'iso3': 'DZA', 'lat'...",46,1.04,2527,...,0,44192535,57648,1304.47,0,0,0,0,0,1607423908128
3,713,9221.54,7084,91620,Europe,Andorra,"{'_id': 20, 'iso2': 'AD', 'iso3': 'AND', 'lat'...",20,258.67,78,...,0,77319,6293,81390.09,173151,2239437,0,0,0,1607423908490
4,6941,208.43,15648,470,Africa,Angola,"{'_id': 24, 'iso2': 'AO', 'iso3': 'AGO', 'lat'...",14,0.42,354,...,194,33301496,8353,250.83,171247,5142,0,0,0,1607423908304
5,7,464.78,10,664,North America,Anguilla,"{'_id': 660, 'iso2': 'AI', 'iso3': 'AIA', 'lat...",0,0.00,0,...,6,15061,3,199.19,2651,176018,1,0,0,1607423908793
6,8,81.40,146,1486,North America,Antigua and Barbuda,"{'_id': 28, 'iso2': 'AG', 'iso3': 'ATG', 'lat'...",2,20.35,4,...,20,98282,134,1363.42,4927,50131,0,0,0,1607423908700
7,125725,2770.73,1466309,32315,South America,Argentina,"{'_id': 32, 'iso2': 'AR', 'iso3': 'ARG', 'lat'...",3723,82.05,39888,...,11,45376124,1300696,28664.77,4111139,90601,0,0,0,1607423907924
8,21409,7218.95,142928,48194,Asia,Armenia,"{'_id': 51, 'iso2': 'AM', 'iso3': 'ARM', 'lat'...",0,0.00,2372,...,6,2965667,119147,40175.45,532527,179564,584,28,1498,1607423908102
9,120,1121.87,4966,46427,North America,Aruba,"{'_id': 533, 'iso2': 'AW', 'iso3': 'ABW', 'lat...",4,37.40,45,...,2,106964,4801,44884.26,53107,496494,0,0,0,1607423908516
10,1433,55.91,27987,1092,Australia/Oceania,Australia,"{'_id': 36, 'iso2': 'AU', 'iso3': 'AUS', 'lat'...",0,0.00,908,...,3,25628261,25646,1000.69,10228773,399121,15,0,4,1607423908218
11,44985,4982.38,305693,33857,Europe,Austria,"{'_id': 40, 'iso2': 'AT', 'iso3': 'AUT', 'lat'...",616,68.23,3897,...,3,9028814,256811,28443.49,3262088,361298,0,0,0,1607423908028
12,57812,5679.58,149765,14713,Asia,Azerbaijan,"{'_id': 31, 'iso2': 'AZ', 'iso3': 'AZE', 'lat'...",0,0.00,1675,...,6,10178925,90278,8869.11,1847191,181472,0,0,0,1607423908041
13,1413,3578.33,7579,19193,North America,Bahamas,"{'_id': 44, 'iso2': 'BS', 'iso3': 'BHS', 'lat'...",11,27.86,163,...,9,394877,6003,15202.20,44757,113344,0,0,0,1607423908432
14,1555,900.58,88111,51030,Asia,Bahrain,"{'_id': 48, 'iso2': 'BH', 'iso3': 'BHR', 'lat'...",11,6.37,341,...,1,1726659,86215,49931.69,2129571,1233348,0,0,0,1607423908131
15,73845,446.46,481945,2914,Asia,Bangladesh,"{'_id': 50, 'iso2': 'BD', 'iso3': 'BGD', 'lat'...",0,0.00,6906,...,57,165402381,401194,2425.56,2894622,17500,2202,32,2571,1607423908019
16,20,69.56,287,998,North America,Barbados,"{'_id': 52, 'iso2': 'BB', 'iso3': 'BRB', 'lat'...",1,3.48,7,...,6,287529,260,904.26,49757,173050,0,0,0,1607423908693
17,21654,2291.92,148953,15766,Europe,Belarus,"{'_id': 112, 'iso2': 'BY', 'iso3': 'BLR', 'lat...",0,0.00,1215,...,3,9447960,126084,13345.10,3449089,365062,0,0,0,1607423908044
18,535291,46099.47,592615,51036,Europe,Belgium,"{'_id': 56, 'iso2': 'BE', 'iso3': 'BEL', 'lat'...",723,62.27,17386,...,2,11611651,39938,3439.48,6116392,526746,859,66,671,1607423907937
19,3834,9567.28,7953,19846,North America,Belize,"{'_id': 84, 'iso2': 'BZ', 'iso3': 'BLZ', 'lat'...",4,9.98,176,...,9,400741,3943,9839.27,44051,109924,0,0,0,1607423908431
20,107,8.73,3073,251,Africa,Benin,"{'_id': 204, 'iso2': 'BJ', 'iso3': 'BEN', 'lat...",0,0.00,44,...,35,12259052,2922,238.35,353070,28801,0,0,0,1607423908595
21,75,1206.23,306,4921,North America,Bermuda,"{'_id': 60, 'iso2': 'BM', 'iso3': 'BMU', 'lat'...",1,16.08,9,...,1,62177,222,3570.45,113328,1822668,0,0,0,1607423908691
22,42,54.17,432,557,Asia,Bhutan,"{'_id': 64, 'iso2': 'BT', 'iso3': 'BTN', 'lat'...",0,0.00,0,...,4,775297,390,503.03,210037,270912,2,0,2,1607423908687
23,11679,994.64,145657,12405,South America,Bolivia,"{'_id': 68, 'iso2': 'BO', 'iso3': 'BOL', 'lat'...",71,6.05,8997,...,32,11741980,124981,10643.95,369436,31463,97,2,182,1607423908096
24,32444,9916.17,94944,29019,Europe,Bosnia,"{'_id': 70, 'iso2': 'BA', 'iso3': 'BIH', 'lat'...",0,0.00,3012,...,7,3271828,59488,18181.88,439811,134424,0,0,0,1607423908126
25,2622,1105.37,12058,5083,Africa,Botswana,"{'_id': 72, 'iso2': 'BW', 'iso3': 'BWA', 'lat'...",1,0.42,36,...,5,2372062,9400,3962.80,455040,191833,0,0,0,1607423908400
26,649610,3046.70,6628065,31086,South America,Brazil,"{'_id': 76, 'iso2': 'BR', 'iso3': 'BRA', 'lat'...",8318,39.01,177388,...,8,213217698,5801067,27207.25,25700000,120534,0,0,0,1607423907916
27,0,0.00,72,2375,North America,British Virgin Islands,"{'_id': 92, 'iso2': 'VG', 'iso3': 'VGB', 'lat'...",0,0.00,1,...,5,30319,71,2341.77,6431,212111,0,0,0,1607423908706
28,2,4.55,152,346,Asia,Brunei,"{'_id': 96, 'iso2': 'BN', 'iso3': 'BRN', 'lat'...",0,0.00,3,...,6,439300,147,334.62,77829,177166,1,0,0,1607423908698
29,93559,13509.59,164185,23708,Europe,Bulgaria,"{'_id': 100, 'iso2': 'BG', 'iso3': 'BGR', 'lat...",523,75.52,5010,...,7,6925376,65616,9474.72,1023067,147727,0,0,0,1607423908038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,-6,-10.19,5325,9042,South America,Suriname,"{'_id': 740, 'iso2': 'SR', 'iso3': 'SUR', 'lat...",2,3.40,117,...,26,588918,5214,8853.52,22231,37749,0,0,0,1607423908506
191,312,267.72,6529,5602,Africa,Swaziland,"{'_id': 748, 'iso2': 'SZ', 'iso3': 'SWZ', 'lat...",11,9.44,123,...,18,1165382,6094,5229.19,63144,54183,0,0,0,1607423908494
192,271845,26844.32,278912,27542,Europe,Sweden,"{'_id': 752, 'iso2': 'SE', 'iso3': 'SWE', 'lat...",249,24.59,7067,...,3,10126722,0,0.00,3457247,341398,0,0,0,1607423908029
193,68911,7937.05,354306,40808,Europe,Switzerland,"{'_id': 756, 'iso2': 'CH', 'iso3': 'CHE', 'lat...",454,52.29,5495,...,3,8682191,279900,32238.41,2896303,333591,0,0,0,1607423908025
194,4038,228.36,8490,480,Asia,Syrian Arab Republic,"{'_id': 760, 'iso2': 'SY', 'iso3': 'SYR', 'lat...",0,0.00,452,...,0,17682886,4000,226.21,0,0,0,0,0,1607423908428
195,129,5.41,718,30,Asia,Taiwan,"{'_id': 158, 'iso2': 'TW', 'iso3': 'TWN', 'lat...",0,0.00,7,...,211,23835642,582,24.42,112939,4738,2,0,8,1607423908618
196,501,52.03,12469,1295,Asia,Tajikistan,"{'_id': 762, 'iso2': 'TJ', 'iso3': 'TJK', 'lat...",0,0.00,87,...,0,9629636,11881,1233.80,0,0,0,0,0,1607423908387
197,305,5.04,509,8,Africa,Tanzania,"{'_id': 834, 'iso2': 'TZ', 'iso3': 'TZA', 'lat...",7,0.12,21,...,0,60460460,183,3.03,0,0,0,0,0,1607423908630
198,192,2.75,4126,59,Asia,Thailand,"{'_id': 764, 'iso2': 'TH', 'iso3': 'THA', 'lat...",1,0.01,60,...,71,69876590,3874,55.44,977854,13994,19,0,6,1607423908519
199,1,0.75,31,23,Asia,Timor-Leste,"{'_id': 626, 'iso2': 'TL', 'iso3': 'TLS', 'lat...",0,0.00,0,...,89,1329264,30,22.57,14932,11233,0,0,0,1607423908714
200,369,44.13,3111,372,Africa,Togo,"{'_id': 768, 'iso2': 'TG', 'iso3': 'TGO', 'lat...",0,0.00,65,...,54,8361963,2677,320.14,155211,18562,0,0,0,1607423908590
201,691,493.05,6775,4834,North America,Trinidad and Tobago,"{'_id': 780, 'iso2': 'TT', 'iso3': 'TTO', 'lat...",2,1.43,122,...,37,1401469,5962,4254.11,37523,26774,0,0,0,1607423908493
202,22935,1931.80,104329,8788,Africa,Tunisia,"{'_id': 788, 'iso2': 'TN', 'iso3': 'TUN', 'lat...",298,25.10,3596,...,24,11872334,77798,6552.88,486415,40970,0,0,0,1607423908123
203,409059,4827.61,860432,10155,Asia,Turkey,"{'_id': 792, 'iso2': 'TR', 'iso3': 'TUR', 'lat...",5836,68.88,15103,...,4,84733150,436270,5148.75,19888747,234722,0,0,0,1607423907933
204,10,256.78,756,19412,North America,Turks and Caicos Islands,"{'_id': 796, 'iso2': 'TC', 'iso3': 'TCA', 'lat...",1,25.68,6,...,4,38944,740,19001.64,9247,237444,0,0,0,1607423908616
205,17946,1805.03,178837,17988,Asia,UAE,"{'_id': 784, 'iso2': 'AE', 'iso3': 'ARE', 'lat...",0,0.00,596,...,1,9942229,160295,16122.64,17649380,1775193,1260,2,584,1607423908036
206,1676526,24639.71,1737960,25543,Europe,UK,"{'_id': 826, 'iso2': 'GB', 'iso3': 'GBR', 'lat...",1274,18.72,61434,...,1,68041627,0,0.00,45826753,673511,0,0,0,1607423907921
207,6096224,18370.46,15370339,46317,North America,USA,"{'_id': 840, 'iso2': 'US', 'iso3': 'USA', 'lat...",26455,79.72,290474,...,2,331849210,8983641,27071.46,209499273,631309,0,0,0,1607423907912
208,13619,293.79,23200,500,Africa,Uganda,"{'_id': 800, 'iso2': 'UG', 'iso3': 'UGA', 'lat...",0,0.00,207,...,72,46355657,9374,202.22,647471,13967,0,0,0,1607423908220
209,382266,8763.95,832758,19092,Europe,Ukraine,"{'_id': 804, 'iso2': 'UA', 'iso3': 'UKR', 'lat...",177,4.06,13928,...,9,43618024,436564,10008.80,4838979,110940,10811,195,12860,1607423907934
210,2182,627.19,7505,2157,South America,Uruguay,"{'_id': 858, 'iso2': 'UY', 'iso3': 'URY', 'lat...",27,7.76,83,...,7,3478992,5240,1506.18,472299,135757,0,0,0,1607423908488
211,2113,62.74,74206,2203,Asia,Uzbekistan,"{'_id': 860, 'iso2': 'UZ', 'iso3': 'UZB', 'lat...",177,5.26,611,...,24,33679104,71482,2122.44,1377915,40913,153,0,167,1607423908192
212,0,0.00,1,3,Australia/Oceania,Vanuatu,"{'_id': 548, 'iso2': 'VU', 'iso3': 'VUT', 'lat...",0,0.00,0,...,0,310224,1,3.22,0,0,0,0,0,1607423908800
213,3998,140.77,104904,3694,South America,Venezuela,"{'_id': 862, 'iso2': 'VE', 'iso3': 'VEN', 'lat...",117,4.12,924,...,12,28400540,99982,3520.43,2325906,81897,0,0,0,1607423908121
214,108,1.11,1367,14,Asia,Vietnam,"{'_id': 704, 'iso2': 'VN', 'iso3': 'VNM', 'lat...",0,0.00,35,...,73,97719499,1224,12.53,1339465,13707,0,0,0,1607423908610
215,2,179.34,3,269,Australia/Oceania,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",0,0.00,0,...,10,11152,1,89.67,1149,103031,0,0,0,1607423908797
216,1,1.66,10,17,Africa,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",0,0.00,1,...,0,603632,8,13.25,0,0,0,0,0,1607423908791
217,180,5.98,2383,79,Asia,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",4,0.13,649,...,1755,30108167,1554,51.61,17157,570,0,0,0,1607423908599
218,356,19.14,17931,964,Africa,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",0,0.00,364,...,41,18603824,17211,925.13,450333,24206,0,0,0,1607423908291
219,1573,105.17,10839,725,Africa,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",0,0.00,294,...,80,14956546,8972,599.87,187667,12547,0,0,0,1607423908405

In [22]:
df[df.country=='Thailand']
#Italy USA

,active,activePerOneMillion,cases,casesPerOneMillion,continent,country,countryInfo,critical,criticalPerOneMillion,deaths,...,oneTestPerPeople,population,recovered,recoveredPerOneMillion,tests,testsPerOneMillion,todayCases,todayDeaths,todayRecovered,updated
198,192,2.75,4126,59,Asia,Thailand,"{'_id': 764, 'iso2': 'TH', 'iso3': 'THA', 'lat...",1,0.01,60,...,71,69876590,3874,55.44,977854,13994,19,0,6,1607423908519

In [26]:
# country='italy'
country='thailand'

url=f'https://disease.sh/v3/covid-19/countries/{country}'
r=requests.get(url)
j=r.json()
j

{'updated': 1607423908519,
 'country': 'Thailand',
 'countryInfo': {'_id': 764,
  'iso2': 'TH',
  'iso3': 'THA',
  'lat': 15,
  'long': 100,
  'flag': 'https://disease.sh/assets/img/flags/th.png'},
 'cases': 4126,
 'todayCases': 19,
 'deaths': 60,
 'todayDeaths': 0,
 'recovered': 3874,
 'todayRecovered': 6,
 'active': 192,
 'critical': 1,
 'casesPerOneMillion': 59,
 'deathsPerOneMillion': 0.9,
 'tests': 977854,
 'testsPerOneMillion': 13994,
 'population': 69876590,
 'continent': 'Asia',
 'oneCasePerPeople': 16936,
 'oneDeathPerPeople': 1164610,
 'oneTestPerPeople': 71,
 'activePerOneMillion': 2.75,
 'recoveredPerOneMillion': 55.44,
 'criticalPerOneMillion': 0.01}

In [27]:
j['cases']

4126

In [28]:
j['casesPerOneMillion']

59

In [29]:
df=pd.DataFrame(j)
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
_id,1607423908519,Thailand,764,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
flag,1607423908519,Thailand,https://disease.sh/assets/img/flags/th.png,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
iso2,1607423908519,Thailand,TH,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
iso3,1607423908519,Thailand,THA,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
lat,1607423908519,Thailand,15,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01
long,1607423908519,Thailand,100,4126,19,60,0,3874,6,192,...,977854,13994,69876590,Asia,16936,1164610,71,2.75,55.44,0.01

In [ ]:
df.to_csv('covid19_latest.csv', index=False)

In [ ]:
df.to_excel('covid19_latest.xlsx', index=False)